body{
    /* [vieux background] background: linear-gradient(36deg, rgba(0,0,0,1) 28%, rgba(121,9,9,1) 83%, rgba(251,251,251,1) 100%); */
    background: linear-gradient(-164deg, rgba(0,0,0,1) 28%, rgba(121,9,9,1) 81%, rgba(251,251,251,1) 167%);
    font-family: 'Titillium Web', sans-serif;
    color: #ECEFF1;
    /* height: 100%; */
    min-height: 1255.95px;
    text-align: center;
}

.MOI{
    color: rgba(251,251,251,1); 
    font-family: 'Poppins', sans-serif; 
    font-size: 40px;
    letter-spacing: 8px;
    /* line-height: 32px; */
    line-height: 18px;
    position: relative;
    top: -50px;
}

                /* code pour ENCADREMENT - copié de https://codepen.io/seanmccaffery/pen/kWWxzQ */
                .svg-wrapper {
                    height: 60px;
                      margin: 1px;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    /* faisait bugger la position de Loic ETHEVE */
                    /* width: 320px; */
                  }
                  
                  /* code pour ligne d'encadrement -- je crois...  */
                  .shape {
                    fill: transparent;
                    stroke-dasharray: 140 540;
                    stroke-dashoffset: -474;
                    stroke-width: 8px;
                    /* [OLD] stroke: rgba(251,251,251,1); */
                    stroke: #ECEFF1;
                  }
                  
                  /* .text { */
                    /* color: #fff; */
                    /* font-family: 'Roboto Condensed'; */
                    /* font-size: 22px; */
                    /* letter-spacing: 8px; */
                    /* line-height: 32px; */
                    /* position: relative; */
                    /* top: -48px; */
                  /* } */
                  
                  @keyframes draw {
                    0% {
                      stroke-dasharray: 140 540;
                      stroke-dashoffset: -474;
                      stroke-width: 8px;
                    }
                    100% {
                      stroke-dasharray: 760;
                      stroke-dashoffset: 0;
                      stroke-width: 2px;
                    }
                  }
                  
                  .svg-wrapper:hover .shape {
                    -webkit-animation: 0.5s draw linear forwards;
                    animation: 0.5s draw linear forwards;
                  }
                /* fin de copie code ENCADREMENT*/

.rubriques{
    color: #ECEFF1;   
}

      /* Le style d'emphase ne fonctionne pas ???*/
      /* .emphase{
          font-size: 50;
      } */

h3{
  font-size: 25;
  color: black;
  background-color: #ECEFF1 ;
  border-radius : 5px
}

.accueil{
  text-shadow: none;
  font-size: 1.5em;
}

.CallTA{
  font-size: 60;
  color: black;
  background-color: #ECEFF1 ;
  border-radius : 5px
}

button{
  cursor:pointer;
  min-height: 60px;
  width: max-content;
  font-size: 60;
  color: black;
  background-color: #ECEFF1 ;
  border-radius : 5px 
}
/* HOVER syles - pour SURVOL DE SOURIS (Mise en forme) */
/* Pour réagir au survol de la souris sur des LIENS (a) */
a:hover{
  color: #ECEFF1;
  width: fit-content;
  background-color: black;
  border-radius : 45px 
}
/* survol pour les boutons */
button:hover{
color: #ECEFF1;
width: fit-content;
background-color: black;
border-radius : 45px
} 

/* #li menu-item:hover{ */
  #menu-item{
  color: #ECEFF1;
  width: fit-content;
  background-color: black;
  border-radius : 45px;
  text-align: center
}

/* fin de HOVER styles  */

/* css menu burger */
#menu__toggle {
  opacity: 0;
  color:rgba(0, 0, 0, .4)
}
#menu__toggle:checked + .menu__btn > span {
transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
top: 0;
transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
top: 0;
transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
left: 0 !important;
}
.menu__btn {
position: fixed;
top: 20px;
left: 20px;
width: 26px;
height: 26px;
cursor: pointer;
z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
display: block;
position: absolute;
width: 100%;
height: 2px;
background-color: #616161;
transition-duration: .25s;
}
.menu__btn > span::before {
content: '';
top: -8px;
}
.menu__btn > span::after {
content: '';
top: 8px;
}
.menu__box {
display: block;
position: fixed;
top: 0;
left: -100%;
width: 300px;
height: 100%;
margin: 0;
padding: 80px 0;
list-style: none;
background-color: #ECEFF1;
box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
transition-duration: .25s;
}
.menu__item {
display: block;
padding: 12px 24px;
color: #333;
font-family: 'Roboto', sans-serif;
font-size: 20px;
font-weight: 600;
text-decoration: none;
transition-duration: .25s;
}
.menu__item:hover {
background-color: #CFD8DC;
}

      /* rajout de code pour superposition du menu burger  */
      div #hamburger-menu {
        position: relative; z-index: 4;
      }
      /* fin de rajout  */
/* fin css menu burger */

/* Pour enlever les puces sur mes listes  */
ul{
  list-style-type: none;
}

  /* Mettre les métiers en ligne et non en colonne  */
ul#emphase{
  display: flex;
  flex-direction: row;
}

/* Mettre en noir le hover des boutons du burger */
a.menu__item:hover{
    color: #ECEFF1;
    width: fit-content;
    background-color: black;
    border-radius : 45px;
    text-align : center 
}

li:hover {
  text-align: center;
}

/* ajuster la taille du fond de h3 (Découvrez ici / Bienvenue) et que ca colle avec le bouton burger */
h3{
  padding: 5px ;
  margin-top: -2px;
}

/* Corrige le problème de largeur des pages secondaires (limiter la largeur de rect shape et rect svg à la taille du body) */
.MOI{
  max-width: 1255px;
  margin: auto;
}

          /* Vu sur https://openclassrooms.com/forum/sujet/empecher-la-repetition-d-une-image-background */
            body {
              background-repeat:no-repeat;
              background-position:left top;
              }
              /* KO TENTATIVES  */
          /* Si KO, autre soluce : */
            /* html{
              background-size: cover;
              -webkit-background-size: cover;
              -moz-background-size: cover;
              -o-background-size: cover; 
            } */

            /* autre soluce à tenté (puisque les deux précédents échecs) */
            /* .svg-wrapper{
              text-align: center;
              max: width 50px;;
            } */

          /* réduire la largeur de rect.shape */
          /* rect.shape{
            justify-content: center;

          } */

/* fin de correction largeur */
